/**
 *
 * Author : ByteCorum
 * Github : @bytecorum
 *
 * Colors
 **/

* {
    background:     #1A1B2688;
    background-alt: #272A38CC;
    foreground:     #ACACB1FF;
    selected:       #7AA2F7FF;
    active:         #41424BFF;
    urgent:         #C05F74CC;
}
